body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 20px;
}

p {
    color: lightgray;
    font-size: 12px;
}

ol {
    color: white;
    list-style: upper-alpha;
}

ul {
    color: white;
    list-style: square;
}

.myDiv {
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    width: 100px;
    height: 100px;
}
